<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Family Recipes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large-btn {
    font-size: 24px;
    padding: 15px 30px;
    background-color: white;
    color: black;
    border: none;
    transition: 0.3s;
}

.large-btn:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}
    </style>
</head>
<body>
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{|/|}" th:text="'Family HQ'"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{|/|}" th:text="'Home'"></a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link" th:href="@{|/login|}" th:text="'Log in'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                    <a class="nav-link" th:href="@{|/register|}" th:text="'Register'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/child/dashboard|}" th:text="'Child Dashboard'"
                       sec:authorize="hasAuthority('CHILD')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/parent/dashboard|}" th:text="'Parent Dashboard'"
                       sec:authorize="hasAuthority('PARENT')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:text="'Log out'"
                       sec:authorize="isAuthenticated()"></a>
                </li>

                <a class="nav-link" sec:authentication="name" sec:authorize="isAuthenticated()"></a>
                <a class="nav-link" sec:authentication="authorities" sec:authorize="isAuthenticated()"></a>

                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Main content -->
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 image-container" style="background-image: url('https://images.pexels.com/photos/5638639/pexels-photo-5638639.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
                <a href="/tasty/familyrecipes/meals" class="btn large-btn">View Family Favorite Recipes</a>
            </div>
            <div class="col-md-6 image-container" style="background-image: url('https://images.pexels.com/photos/3992370/pexels-photo-3992370.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');">
                <a href="/tasty/familyrecipes/mealSearch" class="btn large-btn">Search for Recipes</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>