<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link th:href="@{/css/navbar.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/recipes.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{|/|}" th:text="'Family HQ'"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{|/|}" th:text="'Home'"></a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link" th:href="@{|/login|}" th:text="'Log in'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                    <a class="nav-link" th:href="@{|/register|}" th:text="'Register'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/child/dashboard|}" th:text="'Child Dashboard'"
                       sec:authorize="hasAuthority('CHILD')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/parent/dashboard|}" th:text="'Parent Dashboard'"
                       sec:authorize="hasAuthority('PARENT')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:text="'Log out'"
                       sec:authorize="isAuthenticated()"></a>
                </li>

                <a class="nav-link" sec:authentication="name" sec:authorize="isAuthenticated()"></a>
                <a class="nav-link" sec:authentication="authorities" sec:authorize="isAuthenticated()"></a>

                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Main content -->
<div class="main-content">
<div class="container mt-5">
    <h1>Recipes Search</h1>
    <hr>

    <div class="row">
        <div class="col-md-12">
            <h3>Search for Recipes</h3>
            <form id="search-form">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="Enter recipe name">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info btn-lg">
                                <i class="glyphicon glyphicon-search"></i>
                                Search
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Search Results</h3>
            <div id="search-results">
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $(document).ready(function () {

         /*<![CDATA[*/
    let familyGroupId = /*[[${familyGroupId}]]*/ '1';
    /*]]>*/

        $('#search-form').submit(function (event) {
            event.preventDefault();

            let searchQuery = $('#search').val();
            if (searchQuery) {
                $.get("/tasty/recipes/list", { query: searchQuery, from: 0, size: 10 }, function (data) {
                    let results = data.results;
                    let resultsHtml = '';

                    results.forEach(function (result) {
                    let recipeId = result.id;
                    let recipeName = result.name;
                    let recipeUrl = "/tasty/recipes/get-more-info?id=" + recipeId;
                    let imageUrl = result.thumbnail_url;
                    resultsHtml += `<div class="well search-result">
    <div class="row">
        <a href="${recipeUrl}" target="_blank">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                <img class="img-responsive" src="${imageUrl}" alt="${recipeName}">
            </div>
            <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
                <h3>${recipeName}</h3>
            </div>
        </a>
        <div class="col-xs-6 col-sm-9 col-md-9 col-lg-10">
            <button class="btn btn-primary add-to-favorites" data-recipe-title="${recipeName}" data-url="${recipeUrl}">Add to Favorites</button>
        </div>
    </div>
</div>`;
});

                    $('#search-results').html(resultsHtml);
                }, "json");
            } else {
                $('#search-results').html('');
            }
        });

        $(document).on('click', '.add-to-favorites', function () {
            let recipeTitle = $(this).data('recipe-title');
            let url = $(this).data('url');

            $.post("/tasty/familyrecipes/add", { recipeTitle: recipeTitle, url: url, familyGroupId: familyGroupId }, function (response) {
                alert(response);
            });
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>