<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{|/|}" th:text="'Family HQ'"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{|/|}" th:text="'Home'"></a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link" th:href="@{|/login|}" th:text="'Log in'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                    <a class="nav-link" th:href="@{|/register|}" th:text="'Register'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/child/dashboard|}" th:text="'Child Dashboard'"
                       sec:authorize="hasAuthority('CHILD')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/parent/dashboard|}" th:text="'Parent Dashboard'"
                       sec:authorize="hasAuthority('PARENT')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:text="'Log out'"
                       sec:authorize="isAuthenticated()"></a>
                </li>

                <a class="nav-link" sec:authentication="name" sec:authorize="isAuthenticated()"></a>
                <a class="nav-link" sec:authentication="authorities" sec:authorize="isAuthenticated()"></a>

                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Main content -->
<div class="main-content">
<div class="container mt-5">
    <h1 th:text="${name}">Recipe Name</h1>
    <hr>
    <img th:src="${thumbnail_url}" alt="Recipe Image">
    <h3>Ingredients</h3>
    <ul>
        <li th:each="ingredient : ${ingredients}" th:text="${ingredient}">Ingredient</li>
    </ul>
    <h3>Instructions</h3>
    <ol>
        <li th:each="instruction : ${instructions}" th:text="${instruction}">Instruction</li>
    </ol>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</body>
</html>