<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{|/|}" th:text="'Family HQ'"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{|/|}" th:text="'Home'"></a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link" th:href="@{|/login|}" th:text="'Log in'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                    <a class="nav-link" th:href="@{|/register|}" th:text="'Register'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/child/dashboard|}" th:text="'Child Dashboard'"
                       sec:authorize="hasAuthority('CHILD')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/parent/dashboard|}" th:text="'Parent Dashboard'"
                       sec:authorize="hasAuthority('PARENT')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:text="'Log out'"
                       sec:authorize="isAuthenticated()"></a>
                </li>

                <a class="nav-link" sec:authentication="name" sec:authorize="isAuthenticated()"></a>
                <a class="nav-link" sec:authentication="authorities" sec:authorize="isAuthenticated()"></a>

                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Main content -->
<div class="main-content">
<h1>Create Todo List</h1>
<form method="post" th:action="@{/api/create}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br><br>
    <label for="assignedUserEmail">Assigned User Email:</label>
    <input type="text" id="assignedUserEmail" name="assignedUserEmail"><br><br>
    <input type="checkbox" id="completed" name="completed">
    <label for="completed">Completed</label><br><br>
    <button type="submit">Create</button>
</form>
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></p>
</div>
</body>
</html>
