<!--todolists/todolist.html-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo Lists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/todolist.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/navbar.css}" rel="stylesheet" type="text/css">

    <!--jQuery Library-->
    <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <style>
        .content-card {
            padding: 15px;
        }

        .card-big-shadow {
            position: relative;
            margin-bottom: 30px;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .card-just-text {
            border-radius: 0;
            padding: 20px 30px;
        }
    </style>
</head>
<!-- NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{|/|}" th:text="'Family HQ'"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{|/|}" th:text="'Home'"></a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link" th:href="@{|/login|}" th:text="'Log in'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                    <a class="nav-link" th:href="@{|/register|}" th:text="'Register'"
                       sec:authorize="hasRole('ROLE_ANONYMOUS')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/child/dashboard|}" th:text="'Child Dashboard'"
                       sec:authorize="hasAuthority('CHILD')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/parent/dashboard|}" th:text="'Parent Dashboard'"
                       sec:authorize="hasAuthority('PARENT')"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:text="'Log out'"
                       sec:authorize="isAuthenticated()"></a>
                </li>

                <a class="nav-link" sec:authentication="name" sec:authorize="isAuthenticated()"></a>
                <a class="nav-link" sec:authentication="authorities" sec:authorize="isAuthenticated()"></a>

                </li>
            </ul>
        </div>
    </div>
</nav>
<body>
<!-- Main content -->
<div class="main-content">
    <div class="container-fluid py-4">
        <div class="row" id="todo-list">
        </div>
        <div class="d-flex justify-content-center">
            <a th:href="@{/api/createForm}" class="btn" style="background-color: #F2E5D9; color: #000; text-decoration: none;">
                Create New To Do List
            </a>
        </div>
    </div>

<script th:inline="javascript">
    $(document).ready(function() {
        // Function to load the todo lists
        function loadTodoLists() {
            $.ajax({
                url: '/api/lists',
                type: 'GET',
                success: function(todoLists) {
                    // Remove any existing items from the list
                    $('#todo-list').empty();

                    $.each(todoLists, function(index, todoList) {
                        var assigned = todoList.assignedUserEmail ? todoList.assignedUserEmail : '-';
                        var completed = todoList.completed ? 'Yes' : 'No';

                        // Make a request to retrieve the creator's details
                        $.ajax({
                            url: '/users/' + todoList.creatorId,
                            type: 'GET',
                            success: function(creator) {
                                var col = $('<div>').addClass('col-md-4 col-sm-6 content-card').appendTo('#todo-list');
                                var cardBigShadow = $('<div>').addClass('card-big-shadow').appendTo(col);
                                var card = $('<div>').addClass('card card-just-text').attr('data-background', 'color').attr('data-color', 'blue').attr('data-radius', 'none').appendTo(cardBigShadow);
                                var content = $('<div>').addClass('content').appendTo(card);
                                $('<h6>').addClass('category').text('Todo List').appendTo(content);
                                $('<h4>').addClass('title').text(todoList.title).appendTo(content);
                                $('<p>').addClass('description').text('Creator: ' + creator.email + ', Assigned To: ' + assigned + ', Completed: ' + completed).appendTo(content);

                                // Add click event listener to card body
                                content.click(function() {
                                    window.location.href = '/api/todolists/taskPage/' + todoList.id;
                                });
                            },
                            error: function(xhr, status, error) {
                                console.log("Error loading creator details: " + error);
                            }
                        });
                    });
                },
                error: function(xhr, status, error) {
                    console.log("Error loading todo lists: " + error);
                }
      });
        }

        // Call the loadTodoLists function on page load
        loadTodoLists();

        // Event listener for delete button clicks
        $('body').on('click', '.delete-btn', function(event) {
            event.preventDefault();
            var url = $(this).attr('href');
            var id = url.split('/').pop();
            deleteTodoList(id);
        });

        // Function to handle deleting a todo list
        function deleteTodoList(id) {
            $.ajax({
                url: '/api/todolists/delete/' + id,
                type: 'DELETE',
                success: function(result) {
                    loadTodoLists();
                },
                error: function(xhr, status, error) {
                    console.log("Error deleting todo list: " + error);
                }
            });
              return false; // prevent default action
        }
    });
</script>
</div>
</body>
</html>