<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Create Todo List</h1>
<form method="post" th:action="@{/create}">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required><br><br>
    <label for="assignedUserEmail">Assigned User Email:</label>
    <input type="text" id="assignedUserEmail" name="assignedUserEmail"><br><br>
    <input type="checkbox" id="completed" name="completed">
    <label for="completed">Completed</label><br><br>
    <button type="submit">Create</button>
</form>
</body>
</html>
